@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1, h2, p,span {
  font-family: 'Comfortaa', cursive;

}

p {
  font-size: 12px;
}
h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.App-header {
  font-family: 'Comfortaa', cursive;
  background-color: #ddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#tester {
  background-color: black;
  width: 300px;
  height: 300px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




#tableInfoWrapper {
  position: absolute;
  top: 3%;
  left: 3%;
  border: 1px solid black;
  padding: 5px;
}

#tableInfoWrapper Button {
  width: 150px;
}

#playerNameList {
  padding-bottom: 10px;
}

.playerName:hover {
  cursor: pointer; 
}
#tableInfo {
  padding-bottom: 10px;
}

#move-button:hover {
  cursor: pointer;
  background-color: white;
  color: green;
}

#deal-button:hover {
  cursor: pointer;
  background-color: white;
  color: green;
}

#exit-button {
  color: white;
  background-color: red;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-top: -5px;
  margin-left: 5px;
}

.up {
  margin-top: 0px !important;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


#buttons h2 {
  color: white;
  border: 1px solid white;
  padding: 3px;
  font-size: 10px;
  float: left;
  margin-left: -35px;
  transform: rotate(-90deg) !important;

}

#move-button {
  margin-top: 10px;

}

#deal-button {
  margin-top: 54px;
  margin-left: -32px !important;
}

#chatCon {
  width: 400;
  position: absolute;
  bottom: 3%;
  right: 3%;
}

#chatCon .chat-box {
  /* display: none; */
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-color: #eee;
}

#chatCon .chat-box .header {
  background-color: #3fda73;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 20px;
}

#chatCon .chat-box .msg-area {
  overflow-y: auto;
  overflow-x: hidden;
  height: 370px;
  padding: 15px;
}


#chatCon .chat-box .msg-area * {
  overflow-anchor: none;
}

#chatCon .chat-box .msg-area .anchor {
  overflow-anchor: auto;
  height: 1px;
}

#chatCon .chat-box .msg-area .left span {
  display: inline-block;
  font-size: 17.5px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ddd;
}

#chatCon .chat-box .msg-area .right {
  text-align: right;
}

#chatCon .chat-box .msg-area .right span {
  display: inline-block;
  font-size: 17.5px;
  border-radius: 15px;
  padding: 15px;
  background-color: #ddd;
}

#chatCon .chat-box .footer {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chatCon .chat-box .footer input {
  border: 1px solid #fff;
  padding: 10px;
  width: 80%;
  border-radius: 15px;
}

#chatCon .chat-box .footer input:foucs {
  outline: none;
}

#chatCon .chat-box .footer button {
  border: none;
  font-size: 22.5px;
  color: lightgreen;
  cursor: pointer;
}

#chatCon .pop {
  width: 100%;
  height: 25%;
  cursor: pointer;
}

#chatCon .pop p {
  text-align: right;
}

#chatCon .pop img {
  border-radius: 50%;
  width: 50;
}
